<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Details</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/dark-mode.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.css">
</head>
<body>
<div class="container">
    <div th:replace="fragments/darkmode-button :: darkmodeButton"></div>
    <div class="event-thumbnail" th:style="'background-image: url(' + ${event.thumbnail} + ')'"></div>
    <div class="event-details">
        <h1 th:text="${event.title}">Event Title</h1>
        <p th:if="${event.location}"><strong>Location:</strong> <span th:text="${event.location}">Event Location</span></p>
        <p th:if="${event.formattedDate}"><strong>Date:</strong> <span th:text="${event.formattedDate}">Event Date</span></p>
        <p th:if="${event.einlass}"><strong>Einlass:</strong> <span th:text="${event.einlass}">Einlass Time</span></p>
        <p th:if="${event.beginn}"><strong>Beginn:</strong> <span th:text="${event.beginn}">Beginn Time</span></p>
        <p th:if="${event.price}"><strong>Price:</strong> <span th:text="${event.price}">Event Price</span></p>
        <p th:if="${event.description}"><strong>Description:</strong></p>
        <p th:if="${event.description}" th:utext="${event.description}">Detailed description of the event goes here...</p>
        <p th:if="${event.misc}"><span th:utext="${event.misc}"></span></p>
        <p th:if="${event.sourceUrl}"><a th:href="${event.sourceUrl}" target="_blank" rel="noopener">Zur Veranstaltungsseite</a></p>
        <a href="/" class="back-link">Back to Events</a>
    </div>
</div>
</body>
</html>